
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ac8b07ae;
  --secondary-color: #f7f3f2;
  --text-color: #222;
  --accent-color: #ffcc00;
  --font-main: "Poppins", sans-serif;
}

body {
  font-family: var(--font-main);
  
  background-color: #ffffff;
  line-height: 1.6;
}


header {
  background: linear-gradient( 90deg, rgb(255, 27, 0), rgb(255, 208, 119));
  color: rgb(255, 255, 255) ;
  padding: 30px;
  top: 0;
  z-index: 1000;

}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.menu a {
  color: white;
  margin: 0 0.8rem;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.menu a:hover {
  color: var(--accent-color);
}


.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: auto;
  filter: brightness(70%);
}

.frase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 1rem 2rem;
  border-radius: 8px;
}


.section {
  padding: 3rem 1rem;
}

.bg-light {
  background-color: var(--secondary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}


.card {
  background: rgb(236, 234, 234);
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.card a {
  color: #222;
  text-decoration: none;
  font-weight: 600;
}

.card a:hover {
  color: #a79751;
}

h2{
  text-align: center;
}


footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
  justify-content: space-around;
}

