header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 247, 247);
}

nav{
    color:rgb(53, 31, 6)
}

.borrachas{
    border-radius: 10px;
    background-color: rgb(243, 218, 186);
}

.bolachas{
     border-radius: 10px;
    background-color: rgb(241, 190, 122);
}

